*, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, a, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, section {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6, input, textarea, select, button {
    font-size: 100%;
    font-weight: normal
}

ul, ol {
    list-style-type: none;
    list-style-image: none
}

li {
    list-style: none
}

html, body {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: "microsoft yahei", 'Helvetica Neue', Roboto;
}

body {
    background-color: rgb(239, 239, 239)
}

a, img {
    -webkit-touch-callout: none
}

a {
    text-decoration: none;
    color: #333
}
























