*,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,a,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,section {margin: 0;padding: 0}
h1,h2,h3,h4,h5,h6,input,textarea,select,button {font-size: 100%;font-weight: normal}
ul,ol {list-style-type: none;list-style-image: none}
li {list-style: none}
html,body {-webkit-user-select: none;-moz-user-select: none;user-select: none;font-family: "microsoft yahei",'Helvetica Neue',Roboto;}
body {background-color: rgb(239, 239, 239)}
a,img {-webkit-touch-callout: none}
a {text-decoration: none;color: #333}


section{
    position: relative;
    width: 92%;
    left: 4%;
}
h2.title_h2{
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    margin: 1rem 0;
}
.font{
    position: relative;
    text-align: justify;
    font-size: 0.8rem;
    color: #2A333C;
    line-height: 1.4rem;
    text-indent: 1.6rem;
}
li.font {
    list-style: disc;
    text-indent: 0.8rem;
}
.font b {
    color: darkred;
}
.font_notice {
    display: block;
    text-align: center;
    position: relative;
    font-size: 0.9rem;
    color: darkred;
    line-height: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}
hr{
    margin-bottom: 0.8rem
}
img.tempImg {
    position: relative;
    width: 100%;
    height: auto;
    margin: 1rem 0;
}
#join,#money {
    width: 80%;
    left: 10%;
}
#example {
    width: 70%;
    left: 15%;
}
#wx {
    width: 30%;
    left: 35%;
    margin-top: 0;
}



















