img.tempImg {
    position: relative;
    width: 100%;
    height: auto;
    margin: 1rem 0;
}
#join,#money {
    width: 80%;
    left: 10%;
}
#example {
    width: 70%;
    left: 15%;
}
#wx {
    width: 30%;
    left: 35%;
    margin-top: 0;
}



















